<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Header.css">
    <title>Home - Front End Website</title>
  </head>
  <body>
    <header class="header">
      <h3 class="header-text">julian Mack</h3>
      <ul class="ul">
        <div class="list">
          <li>Work <select name="" id=""></select></li>
          <li><a href="">About Me</a></li>
          <li><a href="">Contact</a></li>
        </div>
      </ul>
    </header>
    <div class="body-portion">
      <img src="./image.JPG" class="landing_image" alt="">
      <div class="body-text">
        <h1>julian Mack - <br> Changing the World <br>OneHeadline At a Time</h1>
        <br>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ipsum, <br> facere unde pariatur porro, perspiciatis repudiandae provident vitae quidem <br> dolores perferendis animi vel ipsa aspernatur ipsam corrupti reiciendis, <br> earum iste?</p>
        <br>
        <button>Get In Touch</button>
      </div>
    </div>
  </body>
</html>
