<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Header.css">
    <title>Home - Front End Website</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav_icons">
<div class="icon1">
  <li>
    <img class="nav_icon1 icon" src="../../assets/images/icons/arrow-left-long-solid.png" alt="">
    </li>
    <li>
      <h4>All Templates</h4>
    </li>
</div>
<div class="icon2">
  <li>
    <img class="nav_icon2 icon" src="../../assets/images/icons/tablet-screen-button-solid.png" alt="">
    </li>
    <li>
    <img class="nav_icon3 icon" src="../../assets/images/icons/mobile-phone.png" alt="">
    </li>
</div>
</div>
      <div class="nav_righte">        
        <img class="checkbox_icon" src="../../assets/images/icons/circle-check-solid.png" alt="">
      <span>No credit card required</span>
      <button class="nav-button">START BUILDING</button>
      </div>
    </nav>
  </body>
</html>
